@import url(http://fonts.googleapis.com/css?family=Lobster);

img {
width: 100vw;
  opacity: .7;
}


.head {
  background-color: white;
  position: relative;
  top: -780px;
  opacity: .8;
  margin-left: 5px;
  padding-left: 30px;
  font-family: 'Lobster', cursive;
  letter-spacing: 3px;
}

.home-button {
  position: relative;
  top: -300px;
  margin-left: 500px;
  padding: 40px;
}


.home-button {
  padding: 30px 20px 30px 20px;
  border-radius: 10px;
  font-family: 'Lobster', cursive;
  font-size: 2em;
  background-color: white;
}

.person-button {
  font-family: 'Lobster', cursive;
  font-size: 1em;
  background-color: white;
  position: relative;
}
.move-button {
  position: relative;
  margin-left: 800px;
  padding: 30px 20px 30px 20px;
  border-radius: 10px;
  font-family: 'Lobster', cursive;
  font-size: 2em;
  background-color: white;
}
.button {
  padding: 5px;
  background-color: white;
}
.table {
  position:relative;
  padding: 10px 50px;
  background-color: rgba(255,255,255, .5);
  color: black;
}
.h1-index {
  background-color: rgba(255,255,255, .5);
  position: relative;
  padding: 30px;
  opacity: .8;
  margin-left: 5px;
  padding-left: 30px;
  font-family: 'Lobster', cursive;
  letter-spacing: 3px;
}
th {
  position:relative;
  font-size: 1.5em;
  padding: 10px 50px;
  color: black;
}
td {
padding: 10px 50px;
}


.avatar {
  width: 80px;
  height: 80px;
}

section {
  background-color: rgba(255,255,255, .5);
  width: 500px;
  padding: 30px;
}
