<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body background= "/../public/background.jpg">
<h1 class="h1-index">Update {{name}}</h1>
<a href="/birthdays"><button class="move-button">BACK</button></a>
<form action="/birthdays/{{_id}}/update" method="POST">
        <table class="table">
          <tr>
            <th>
              <label for="name">Name</label>
            </th>
            <td>
              <input class="button" type="text" name="name" id="name" value="{{name}}">
            </td>
          </tr>
          <tr>
            <th>
              <label for="birthday">Birthday</label>
            </th>
            <td>
              <input class="button" type="text" name="birthday" id="birthday" value="{{birthday}}">
            </td>
          </tr>
          <tr>
            <th>
              <label for="avatar">Main Picture URL</label>
            </th>
            <td>
              <input class="button" type="text" name="avatar" id="avatar" value="{{avatar}}">
            </td>
          </tr>
          <tr>
            <th>
              Photos of {{name}}
            </th>
            <td>
              <p>{{#photo}}{{.}}{{/photo}}</p>
            </td>
            <td>
              <a href="/birthdays/{{_id}}/edit/"><button class="button left">Edit</button></a> need to link to a new view and routes here to update/delete memories, similar to :id/edit and :id/delete but with :id/memory/edit and :id/memory/delete
            </td>
          </tr>
          <tr>
            <th>
              <label for="photo">Add A Photo</label>
            </th>
            <td>
              <input class="button" type="text" name="photo" id="photo">
            </td>
          </tr>
          <tr>
            <th>
              Memories
            </th>
            <td>
              <p>{{#memory}}{{.}}{{/memory}}</p>
            </td>
            <td>
              <a href="/birthdays/{{_id}}/edit/"><button class="button left">Edit</button></a> need to link to a new view and routes here to update/delete memories, similar to :id/edit and :id/delete but with :id/memory/edit and :id/memory/delete
            </td>
          </tr>
          <tr>
            <th>
              <label for="memory">Add A Memory</label>
            </th>
            <td>
              <textarea class="button" type="text" name="memory" id="memory" rows="4" cols="50" value=""></textarea>
            </td>
          </tr>
          <tr>
            <th>
              Gift Ideas
            </th>
            <td>
              <p>{{#gifts}}{{.}}{{/gifts}}</p>
            </td>
            <td>
              <a href="/birthdays/{{_id}}/edit/"><button class="button left">Edit</button></a> need to link to a new view and routes here to update/delete giftss, similar to :id/edit and :id/delete but with :id/gift/edit and :id/gift/delete
            </td>
          </tr>
          <tr>
            <th>
              <label for="gifts">Add A Gift Idea</label>
            </th>
            <td>
              <input class="button" type="text" name="gifts" id="gifts">
            </td>
          </tr>
          <tr>
            <th>
            </th>
            <td>
              <input class="button" type="submit" value="Update Person">
            </td>
          </tr>
        </table>
      </form>
</body>
</html>
