<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body background= "http://www.pcwalls.net/download/green_field_wallpaper-1680x1050.jpg">
<h1 class="h1-index">Update {{name}}</h1>
<a href="/birthdays"><button class="move-button">BACK</button></a>
<form action="/birthdays/{{_id}}/update" method="POST">
        <table class="table">
          <tr>
            <th>
              <label for="name">Name</label>
            </th>
            <td>
              <input class="button" type="text" name="name" id="name" value="{{name}}">
            </td>
          </tr>
          <tr>
            <th>
              <label for="birthday">Birthday</label>
            </th>
            <td>
              <input class="button" type="text" name="birthday" id="birthday" value="{{birthday}}">
            </td>
          </tr>
          <tr>
            <th>
              <label for="avatar">Picture URL</label>
            </th>
            <td>
              <input class="button" type="text" name="avatar" id="avatar" value="{{avatar}}">
            </td>
          </tr>
          <tr>
            <th>
              <label for="photo">Other Pictures URL</label>
            </th>
            <td>
              <input class="button" type="text" name="photo" id="photo" value="{{photo}}">
            </td>
          </tr>
          <tr>
            <th>
              <label for="memories">Memories</label>
            </th>
            <td>
              <input class="button" type="text" name="memory" id="memories" value="{{memory}}">
            </td>
          </tr>
          <tr>
            <th>
              <label for="gifts">Gift Idea</label>
            </th>
            <td>
              <input class="button" type="text" name="gifts" id="gifts" value="{{gifts}}">
            </td>
          </tr>
          <tr>
            <th>
            </th>
            <td>
              <input class="button" type="submit" value="Update Person" class="button">
            </td>
          </tr>
        </table>
      </form>
</body>
</html>
