<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <img src="http://www.pcwalls.net/download/green_field_wallpaper-1680x1050.jpg" alt="field">
<h1 class="h1-index">Important People to Remember</h1>
<a href="/birthdays/new" class="move-button" ><button <class="person-button">Add Person</button></a>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthday</th>
    </tr>
  </thead>
<tbody>
  {{#birthdays}}
    <tr>
      <td><img src="{{avatar}}" class="avatar" alt=""></td>
      <td><b><a href="/birthdays/{{_id}}">{{name}}</a></b></td>
      <td>{{birthday}}</td>
      <td>
        <a href="/birthdays/{{_id}}/edit"><button class="button">Edit</button></a>
      </td>
      <td>
        <form action="/birthdays/{{_id}}/delete" method="POST">
          <input type="submit" value="Remove" class="button">
        </form>
      </td>
    </tr>
  {{/birthdays}}
</tbody>
</table>
</body>
</html>
