<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body background= "./../public/background.jpg">
<h1 class="h1-index">Add Someone Special</h1>
<a href="/birthdays"><button class="move-button">BACK</button></a>
<form action="/birthdays" method="POST">
        <table class = "table">
          <tr>
            <th>
              <label for="name">Name</label>
            </th>
            <td>
              <input type="text" name="name" id="name">
            </td>
          </tr>
          <tr>
            <th>
              <label for="birthday">Birthday</label>
            </th>
            <td>
              <input type="text" name="birthday" id="birthday">
            </td>
          </tr>
          <tr>
            <th>
              <label for="avatar">Main Picture URL</label>
            </th>
            <td>
              <input type="text" name="avatar" id="avatar">
            </td>
          </tr>
          <!-- <tr>
            <th>
              <label for="photo">Add A Photo URL</label>
            </th>
            <td>
              <input class="button" type="text" name="photo" id="photo">
            </td>
          </tr>
          <tr> -->
            <th>
              <label for="memory">Add A Memory</label>
            </th>
            <td>
              <textarea class="button" type="text" name="memory" id="memory" rows="4" cols="50" value=""></textarea>
            </td>
          </tr>
          <tr>
            <th>
              <label for="gifts">Add A Gift Idea</label>
            </th>
            <td>
              <input class="button" type="text" name="gifts" id="gifts">
            </td>
          </tr>
          <tr>
            <th>
            </th>
            <td>
              <input type="submit" value="Add Person" class="button">
            </td>
          </tr>
        </table>
      </form>
</body>
</html>
