<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New</title>
</head>
<body background= "http://www.pcwalls.net/download/green_field_wallpaper-1680x1050.jpg">
<h1>Add Someone Special</h1>
<a href="/birthdays"><button>BACK</button></a>
<form action="/birthdays" method="POST">
        <table class = "new">
          <tr>
            <th>
              <label for="name">Name</label>
            </th>
            <td>
              <input type="text" name="name" id="name">
            </td>
          </tr>
          <tr>
            <th>
              <label for="birthday">Birthday</label>
            </th>
            <td>
              <input type="text" name="birthday" id="birthday">
            </td>
          </tr>
          <tr>
            <th>
              <label for="avatar">Picture URL</label>
            </th>
            <td>
              <input type="text" name="avatar" id="avatar">
            </td>
          </tr>

          <tr>
            <th>
            </th>
            <td>
              <input type="submit" value="Add Person" class="button">
            </td>
          </tr>
        </table>
      </form>
</body>
</html>
