<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New</title>
</head>
<body>
<h1>Add Someone Special</h1>
<a href="/birthdays"><button>BACK</button></a>
<form action="/birthdays" method="POST">
        <table class = "new">
          <tr>
            <th>
              <label for="name">Name</label>
            </th>
            <td>
              <input type="text" name="name" id="name">
            </td>
          </tr>
          <tr>
            <th>
              <label for="birthday">Birthday</label>
            </th>
            <td>
              <input type="text" name="birthday" id="birthday">
            </td>
          </tr>
          <tr>
            <th>
              <label for="avatar">Picture URL</label>
            </th>
            <td>
              <input type="text" name="avatar" id="avatar">
            </td>
          </tr>
          <tr>
            <th>
              <label for="photo">Other Pictures URL</label>
            </th>
            <td>
              <input type="text" name="photo" id="photo">
            </td>
          </tr>
          <tr>
            <th>
              <label for="memories">Memories</label>
            </th>
            <td>
              <input type="text" name="memory" id="memories">
            </td>
          </tr>
          <tr>
            <th>
              <label for="gifts">Gift Idea</label>
            </th>
            <td>
              <input type="text" name="gifts" id="gifts" size="50">
            </td>
          </tr>
          <tr>
            <th>
            </th>
            <td>
              <input type="submit" value="Add Person" class="button">
            </td>
          </tr>
        </table>
      </form>
</body>
</html>
